<div class="projects mt-4" >
  <h3>Technical Skills </h3>
  <div class="slide-container">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg", alt: "html", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg", alt: "bootstrap", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg", alt: "css3", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg", alt: "sass", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://www.vectorlogo.zone/logos/figma/figma-icon.svg", alt: "figma", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg", alt: "javascript", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("stimulus.png", alt: "j stimulus", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg", alt: "jpostgresql", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("sql-server.png", alt: "sql", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg", alt: "ruby", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg", alt: "rails", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg", alt: "git", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/heroku/heroku-plain-wordmark.svg", alt: "heroku", width: 70, height: 70) %>
        </div>
        <div class="slide">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg", alt: "react", width: 70, height: 70) %>
        </div>


      </div>
    </div>
  </div>
</div>
