<div class="tech-stack-container mt-3">
  <h3>Technical Skills: </h3>
    <div class="tech-stack-list">
      <h5> Languages </h5>
        <div class="tech-stack">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg", alt: "html", width: "45px", height: "45px") %>
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg", alt: "css3", width: "45px", height: "45px") %>
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg", alt: "javascript", width: "45px", height: "45px") %>
          <%= image_tag("stimulus.png", alt: "j stimulus", width: "45px", height: "45px") %>
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg", alt: "ruby", width: "45px", height: "45px") %>
        </div>

      <h5> Hosting/SaaS </h5>
        <div class="tech-stack">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/heroku/heroku-plain-wordmark.svg", alt: "heroku", width: "45px", height: "45px") %>
        </div>

      <h5> Frameworks, Platforms & Libraries </h5>
        <div class="tech-stack">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg", alt: "react", width: "45px", height: "45px") %>
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg", alt: "rails", width: "45px", height: "45px") %>
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg", alt: "bootstrap", width: "45px", height: "45px") %>
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg", alt: "sass", width: "45px", height: "45px") %>
        </div>

      <h5> Databases </h5>
        <div class="tech-stack">
          <%= image_tag("https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg", alt: "jpostgresql", width: "45px", height: "45px") %>
          <%= image_tag("sql-server.png", alt: "sql", width: "45px", height: "45px") %>
        </div>

      <h5> Design </h5>
        <div class="tech-stack">
          <%= image_tag("https://www.vectorlogo.zone/logos/figma/figma-icon.svg", alt: "figma", width: "45px", height: "45px") %>
        </div>

      <h5> Other </h5>
        <div class="tech-stack">
          <%= image_tag("https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg", alt: "git", width: "45px", height: "45px") %>
        </div>
    </div>
</div>
