<div id="my-projects" class="container-projects m-3 p-4">
  <%# <h3>Projects</h3> %>
  <div class="projects row">
    <div class="col-12 col-lg-6">
      <%= render "tenzies" %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render "quizzical" %>
    </div>
  </div>
  <div class="projects row">
    <div class="col-12 col-lg-6">
      <%= render "slopeRental" %>
    </div>
    <div class="col-12 col-lg-6">
      <%= render "wasteNot" %>
    </div>
  </div>
  <div class="projects row">
    <div class="col-12 col-lg-6">
      <%= render "memeGenerator" %>
    </div>
    <div class="col-12 col-lg-6">
      <%# next project goes here %>
    </div>
  </div>
</div>
